gradio==3.50.2
pandas
numpy
Pillow
pytesseract
PyPDF2
python-dotenv
google-generativeai
langchain-google-genai
langchain-community
sentence-transformers
chromadb
langchain-huggingface
langchain-chroma